<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>
<br><Br>
<img src="https://cdn.glitch.com/1be813f1-4233-4b7a-bf44-8a562481d51f%2Flogo.png?" class="top-img"/>
<br>
<h1>Download Destop App:</h1>
<br>
<p>Download the discord lists desktop app for free!</p>
<br>
<hr>
<center>
<h1>Windows:</h1>
<br>
        <a href="https://us-central1-appmaker-desktop-new.cloudfunctions.net/web2desk/download/JdIYzFQ5WLBKAUQaeq9V/windows"><button class="button-main">Download x62 bit for Windows 8+</button></a>
<br>
<br>
<br>
<h1>macOS:</h1>
<br>
      <a href="https://us-central1-appmaker-desktop-new.cloudfunctions.net/web2desk/download/ZxeoxVpSrkLYIELgVfyf/osx"><button class="button-main">Download x64 bit for macOS</button></a>
<br>
<br>
<br>
<h1>Linux:</h1>
<br>
      <a href="https://us-central1-appmaker-desktop-new.cloudfunctions.net/web2desk/download/ZxeoxVpSrkLYIELgVfyf/linux"><button class="button-main">Download x32 bit for Linux</button</a>
<br>
</center>
<br><br><Br>
<br><br><br><br><hr><br>
      
 <%- include('./templates/footer.ejs') %> 