
:root {
  --main-bg-color:#fc6b29;
  --secondary: #7349ac;
}
<!doctype html>
<html lang="en">
  <head>
  <style>
  body{
  background-color:#fc6b29;
  }
  </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
        <%- include("templates/header") %>


    <title>Discord Lists | v7</title>
  </head>
  <body>
  <Br><br>
      <h1> Out with the old, in with the new</h1>
      <h3>Introducing Discordlists v7</h3>
