 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 
<title>Discord Lists | Official Partners</title>
<br>
<h1>Discord Lists Partners</h1>
<br>
<br>
<p>Partners of this bot list!</p>
<br><br>

<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="https://cdn.discordapp.com/avatars/765175524594548737/9922968a280865a99f32ad40c9f95aa8.png?size=128">
    </div>
    <div class="contentBx"><br>
      <h2>Groover</h2><br><br>
      <a href="/bot/x/groover" class="viewbot"><button class="button-main">View</button></a>
      <a href="https://discord.com/oauth2/authorize?client_id=765175524594548737&scope=bot%20applications.commands&permissions=8186756953" class="invitebot"><button class="button-main">Invite</button></a>
    </div>
  </div>
  <br>
	<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="https://cdn.discordapp.com/attachments/916490990632701962/916494087006351370/ec15dfeaa393492eb66dcd1b1ad442a6.png?size=128">
    </div>
    <div class="contentBx"><br>
      <h2>Mediax</h2><br><br>
      <a href="/staffapplications" class="viewbot"><button class="button-main">Apply</button></a>
      <a href="/discord" class="invitebot"><button class="button-main">Discord</button></a>
    </div>
  </div>
	<br>