<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
</head>
		<footer class="footer-distributed">

			<div class="footer-right">

        <a href="/join"><i class="fab fa-discord"></i></a>
        <a href="/twitter"><i class="fab fa-twitter"></i></a>
        <a href="/yt"><i class = "fab fa-youtube"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>
					<a href="/">Bots</a>

					<a href="/search">Search</a>

					<a href="/invite">Discord</a>

					<a href="/faq">FAQ</a>

          <a href="/addbot">Add your Bot</a>

          <a href="/privacy">Privacy Policy</a>
				</p>
        <div style="text-align:center" class="marginadd">
        <h3> Discord Lists Corperation </h3>
        </div><Br>
<p id="copyright">Discord Lists & <a style="text-decoration:underline; color: #0d6efd" href="https://github.com/memastermind">MasterMind</a> &copy; 2021. All rights reserved.</p>


		</footer>
<script>
	window.fwSettings={
	'widget_id':69000003352
	};
	!function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}() 
</script>
<script type='text/javascript' src='https://widget.freshworks.com/widgets/69000003352.js' async defer></script>



</body>
</html>